body {
    font-family: Arial, sans-serif;
    background-color: #ffe4e1; 
    color: #2d2d2d;
    text-align: center;
    margin: 0;
}

header, footer {
    background-color: #8b0000; 
    color: #fff;
    padding: 1em 0;
}

h1 {
    font-size: 2em;
    color: #fffae3; 
}

#location-container {
    margin: 2em 0;
    font-size: 1.5em;
    color: #2e8b57; 
}

button {
    margin: 0.5em;
    padding: 0.75em 1.5em;
    background-color: #228b22; 
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

button:hover {
    background-color: #32cd32; 
}

#bookmarked-locations {
    margin-top: 2em;
    color: #8b0000;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fffae3; /* light yellow for bookmarked items */
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
}
